// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "categories";

body {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
  // background-color: #6f8c97;
  // color: white;
}